// Theme's Palette
@import("C:/Users/Fz/Desktop/myBlog/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("C:/Users/Fz/Desktop/myBlog/docs/.vuepress/styles/palette.styl")